html {
    background-image: url(../../images/car_orders/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1rem 7rem;
    align-items: center;
    justify-content: center;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	border: 1px solid #002A3A;
    color: #fff;
    background: #002A3A;
    font-size:130%;
}
.table td {
	border: 1px solid #cbc6c6;
	padding: 5px;
    background: #F6F5F4;
    text-align: center;
    font-size:110%;
}

nav.pagination {text-align: center;}

ul.pagination {
    display: inline-block;
    padding: 5px;
    margin: 0;
    font-size:110%;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
	background-color: #F6F5F4;
    color: #002A3A;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #002A3A;
    color: #fff;
}

ul.pagination li a:hover:not(.active) {
	background-color: #034b67;
	color: #fff;
}

.container {
    font-size: 100%;
    text-align: right;
}

ul.custom {
    list-style: none;
    padding: 5px;
}

ul.custom li{
  display: inline;
}

ul.custom input.sub, label, #id_brand {
    display: inline-block;
    background-color: #002A3A;
    color: #fff;
    border: 2px solid #002A3A;
    border-radius: 5px;
    white-space: nowrap;
    margin: 3px 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
    padding: 16px 12px;
    cursor: pointer;
}

ul.custom input.sub:focus {
    border: 2px solid #002A3A;
    background-color: #002A3A;
    color: #fff;
    transition: all .2s;
}

#id_brand, li.brand {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
