<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/orders/style.css' %}">
    </head>
    <body>
        <div>
            <form action="{% url 'orders' %}" method="POST" class="order-form">
                {% csrf_token %}
                <div class="container">
                    <ul class="custom">
                        <li class="brand">{{ form_brands.brand }}</li>
                    </ul>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Модель автомобиля</th>
                            <th>Марка автомобиля</th>
                            <th>Цвет автомобиля</th>
                            <th>Количество</th>
                            <th>Дата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in page_obj %}
                            <tr>
                                <td>{{ obj.order_number }}</td>
                                <td>{{ obj.car_model }}</td>
                                <td>{{ obj.car_model.brand }}</td>
                                <td>{{ obj.color }}</td>
                                <td>{{ obj.count }}</td>
                                <td>{{ obj.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="container">
                    <ul class="custom">
                        {{ form.as_ul }}
                        <li><input type="submit" class="sub" value="Поиск с парамметрами"></li>
                    </ul>
                    {% if page_obj.has_other_pages %}
                        <nav class="pagination">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page=1">Начало</a></li>
                                    <li><a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
                                {% endif %}
                                {% for p in paginator.page_range %}
                                    {% if page_obj.number == p %}
                                        <li><a class="active" href="?page={{ p }}">{{ p }}</a></li>
                                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                                        <li><a href="?page={{ p }}">{{ p }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
                                    <li><a href="?page={{ paginator.num_pages }}">Конец</a></li>
                                {% endif %}
                            </ul>
                    </nav>
                    {% endif %}
                </div>
            </form>
        </div>
    </body>
</html>
